{% extends 'base.html.twig' %}

{% block title %}Nouvel exercice{% endblock %}

{% block body %}
    <h1>Nouvel exercice</h1>

    {{ include('exercise/_form.html.twig', {button_label: 'Créer'}) }}

    <p><a href="{{ path('app_exercise_index') }}">Retour à la liste</a></p>
{% endblock %}
